<%- include('../partials/head') %>
<%- include('../partials/header') %>
    <title>Detalle de producto</title>
</head>
<body>
    <h1> Detalle de producto</h1>
   <% if (product.id) { %>
    <span>
        <%= product.name%> 
    </span> Precio $
    <%= product.price%> 
    <span>
        offert:<%= product.offert%>

    <% } %>

    <a href="/products/update/<%= product.id %>">Modificar producto</a>

    <%- include('../partials/footer') %> 
    
</body>
</html>