
<%- include('../partials/head') %>




<body>
    <%- include('../partials/header') %>
    <main>
    <h1> Detalle de producto</h1>
   <% if (product.id) { %>
    <ul class="product">
        <li><img src="<%= product.image  %> "></li>
        <ul class="product-detail">
            <br>
        <li class="name"><%= product.name  %> </li>
        <li class="description">Descripción:<br><%= product.description  %>:</li>
        <li class="price"><%= product.price  %> $</li>
        <li class="offert">Oferta: <%if (product.offert == true) { %>
            Si
        <%} else { %>
            No
        <% } %> </li>
        <li>Envio sin cargo<br><i class="fas fa-truck"></i></li>
    </ul>
    </ul>
    <% } %>

    <form action="/products/update/<%= product.id %>">
        <button type="submit" class="modify-button">
            Modificar producto
        </button>
    </form>

</main>

    <%- include('../partials/footer') %> 
    
</body>
</html>