<head>
<%- include('../partials/head') %>
<link rel="stylesheet" href="/css/list.css">
<%- include('../partials/header') %>
</head>
<body>
    <main>
    <h1>Lista de productos</h1> 
    <h3>
      <form action="/products/create" class="create-product">
      <button href="/products/create">Crear un producto</button>
  </form>
  </h3>
    <div class="lista-productos">
    <% for (let i = 0; i < products.length; i++) { %>
 <ul class="caja-texto-producto" style="list-style: none"> 
        <% if (products.image) { %>
         <img src="/<%= products[i].image.url %>">
         <% } %>

         <div class="preciosYdescuentos">
           <li class=""><%=products[i].name%></li>
           <li class="precios">$ <%=products[i].price%></li>
         </div>
         <li class="descripciones"><%=products[i].description%>
         <a href="/products/update/<%= products[i].id %>"><br>
        <i class="fas fa-pen"></i> </a>

    </ul>
      <% } %>
    </div>   
    </main>
    <%- include('../partials/footer') %>                   
</body>
</html>