<%- include('../partials/head') %>
<%- include('../partials/header') %>
<body>
    <main>
    <h1>Lista de productos</h1> <h3><a href="/products/create">Crear un producto</a></h3>
    <% products.forEach(element => { %>
      <%= element.id %>
        <%= element.name %>
       
       <ul class="caja-texto-producto" style="list-style: none"> 
        <% if (element.image) { %>
         <img src="/uploads/<%= element.image.url %>" width="350"
         height="350">
         <% } %>
         <i class="fas fa-truck camion"></i>
         <div class="preciosYdescuentos">
           <li class="precios">$ <%=element.price%></li>
         </div>
         <li class="descripciones"><%=element.descripcion%>
         <a href="/products/update/<%= element.id %>">
        <i class="fas fa-pen"></i> </a>
       
     <form action="/products/?m=DELETE" method="post">
       <input type="hidden" name="id" value="<%= element.id %>">
       <button type="submit">
        <i class="fas fa-trash tacho"></i>
       </button>

     </form>
    </ul>
       <% }) %>

    
    </main>
    <%- include('../partials/footer') %>                   
</body>
</html>