<%- include('../partials/head') %>
<%- include('../partials/header') %>
<body>
    <main>
    <h1>Lista de productos</h1> <h3><a href="/products/create">Crear un producto</a></h3>
    <% for (let i = 0; i < products.length; i++) { %>
 <ul class="caja-texto-producto" style="list-style: none"> 
        <% if (products.image) { %>
         <img src="/images/<%= products[i].image.url %>" width="350"
         height="350">
         <% } %>
         <i class="fas fa-truck camion"></i>
         <div class="preciosYdescuentos">
           <li class=""><%=products[i].name%></li>
           <li class="precios">$ <%=products[i].price%></li>
         </div>
         <li class="descripciones"><%=products[i].description%>
         <a href="/products/update/<%= products[i].id %>">
        <i class="fas fa-pen"></i> </a>

    </ul>
      <% } %>    
    </main>
    <%- include('../partials/footer') %>                   
</body>
</html>