
 <%- include ('../partials/head') %>


  <body>
    <header>
    <%- include ('../partials/header') %>
  </header>

    <main class="main">
     

    <% if (locals.errors && errors.email) { %>
    <p class="error-msg"><%= errors.email.msg %> </p>
    <% } %>
    <% if (locals.errors && errors.password) { %>
    <p class="error-msg"><%= errors.password.msg %> </p>
    <% } %>
    
      <form class="formInicioSesion" action="/users/access" method="post" id="login">
        <fieldset>
          <label class="labelLogin" for="email">Mail registrado</label>
          <input class="inputLogin" type="text" name="email" id="email"/>
          <p class="feedback"></p>
        </fieldset>

        <fieldset>
          <label class="labelLogin" for="password">Contraseña</label>
          <input class="inputLogin" type="password" name="password" id="password"/>
          <p class="feedback"></p>
        </fieldset>
<p class="remember-box"><input type="checkbox" name="remember" id="remember" />Recordar usuario</p>
        <button class="botonLogin" type="submit">Iniciar Sesión</button>

        <div class="crearCuenta">
           <a href="/users/register">¿No tenes cuenta?</a>
          
        </div>
      </form>
        
    </main>

    <%- include ('../partials/footer') %>
<script src="../js/validateLogin.js"></script>
  </body>
</html>
