 <%- include ('../partials/head') %>
  <body>
    <header>
    <%- include ('../partials/header') %>
  </header>

    <main class="main">
      <picture class="picture">
        <a href="/"> <img src="/images/LogoMaines.svg" altclass="logo" class="logo"/></a>
      </picture>

      <form class="formInicioSesion" action="/users/access" method="post">
        <fieldset>
          <label class="labelLogin" for="email"
            >Mail registrado</label
          >
          <input
            class="inputLogin"
            type="text"
            name="email"
            id="email"
            required
          />
        </fieldset>

        <fieldset>
          <label class="labelLogin" for="password">Contraseña</label>
          <input
            class="inputLogin"
            type="password"
            name="password"
            id="password"
            required
          />
        </fieldset>
<p><input type="checkbox" name="remember" id="remember" />Recordar usuario</p>
        <!--<div class="olvidasteContra">
          <a href="#" target="_blank">¿Olivdaste tu contraseña?</a>
        </div>
      -->
        <button class="botonLogin" type="submit">Iniciar Sesión</button>

        <div class="crearCuenta">
          <p>¿No tenes cuenta?</p>
          <a href="/users/register">Crea una cuenta</a>
        </div>
      </form>
        <% if (locals.errors && errors.email) { %>
    <p><%= errors.email.msg %> </p>
    <% } %>
    <% if (locals.errors && errors.password) { %>
    <p><%= errors.password.msg %> </p>
    <% } %>
    
    </main>
    <footer>
    <%- include ('../partials/footer') %>
  </footer>
  </body>
</html>
