  <%- include ('../partials/head') %>
<body>
    <header>
        <%- include ('../partials/header') %>
        <link rel="stylesheet" href="/css/profile.css">
    </header>
    <main>
        <h1>Perfil del usuario</h1>
        <ul class ="user-detail">
          <li>Nombre de Usuario: <%= user.userName %> </li>
          <li>Email: <%= user.email  %> </li>  
        </ul>
        <p><a href="/users/logout">
          <button class="logout-button">Logout</button>
        </a></p>
        <h2>Foto de perfil</h2>
      <% if (user.avatar != null) { %>
      <figure class="avatar-img">
        <img src="/avatars/<%= user.avatar %>"/>
      </figure>
      <% } else { %>
      <figure class="avatar-img">
        <img src="/assets/avatar.png" alt="<%= user.email %>" />
      </figure>
      <% } %>
      <form action="/users/update" enctype="multipart/form-data" method="POST">
        <label for="avatar">Cambiar imagen de perfil</label><br>
        <input type="file" name="avatar" id="avatar" class="img-input"><br>
        <button type="submit">Update Avatar</button>
      </form>
    </main>

      <%- include ('../partials/footer') %>

</body>
</html>