  <%- include ('../partials/head') %>
<body>
    <header>
        <%- include ('../partials/header') %>
        <link rel="stylesheet" href="/css/profile.css">
    </header>
    <main>
        <h1>Perfil del usuario</h1>
        <ul class ="user-detail">
          <li>Nombre de Usuario: <%= user.userName %> </li>
          <li>Email: <%= user.email  %> </li>  
        </ul>
        <p><a href="/users/logout">Logout</a></p>
        <h2>Foto de perfil</h2>
      <% if (user.avatar.url != null) { %>
      <figure>
        <img src="<%= user.avatar.url %>"/>
      </figure>
      <% } else { %>
      <figure>
        <img src="/assets/avatar.png" alt="<%= user.email %>" />
      </figure>
      <% } %>
      <form
        action="/users/update"
        enctype="multipart/form-data"
        method="POST"
      >
        <label for="avatar">Cambiar imagen de perfil</label><br>
        <input type="file" name="avatar" id="avatar"><br>
        <button type="submit">Update Avatar</button>
      </form>
    </main>

      <%- include ('../partials/footer') %>

</body>
</html>